<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.Name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= movie.Time %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.Genre %>
  </p>

</div>
