<div id="<%= dom_id producer %>">
  <p>
    <strong>Director:</strong>
    <%= producer.Director %>
  </p>

  <p>
    <strong>Actor:</strong>
    <%= producer.Actor %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= producer.Writer %>
  </p>

</div>
