<div id="<%= dom_id cinema %>">
  <p>
    <strong>Room:</strong>
    <%= cinema.Room %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= cinema.Row %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= cinema.Number %>
  </p>

</div>
